<app-account-state />
<div class="row justify-content-center">
    <app-range-selector/>
</div>

<div class="row justify-content-center">
    <div class="col-md-4 col-lg-4">
        <analytics-audience />
    </div>
    <div class="col-md-4 col-lg-4">
        <analytics-visitors />
    </div>
    <div class="col-md-4 col-lg-4">
        <analytics-visitors />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <app-latest-expenses />
    </div>
    <div class="col-md-6 col-lg-6">
        <app-latest-expenses />
    </div>
</div>
